#introduction {
  padding-bottom: 200px;
  background-color: #f7f7f7;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction p {
  color: #998888;
  font-size: 20px;
}

#introduction h1 {
  line-height: 1.32em;
  color: #0e0e0e;
  font-family: playfair display, serif;
  font-size: 60px;
}

#accordion {
  padding-top: 100px;
}

#accordion .item {
  margin-bottom: 200px;
}

#accordion .item .accordion_box .active {
  background-color: tomato;
  color: white;
  cursor: pointer;
}

#accordion .item .accordion_box .acc_trigger {
  border: 1px solid #9e9797;
  position: relative;
  height: 60px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #5a5555;
  letter-spacing: 2px;
}

#accordion .item .accordion_box .acc_trigger:hover {
  background-color: tomato;
  color: white;
  cursor: pointer;
}

#accordion .item .accordion_box .acc_trigger i {
  margin-right: 20px;
  display: none;
}

#accordion .item .accordion_box .acc_container {
  color: #6d6969;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 20px;
}
