@import "./variables";
@import "./subscribe";
#blog{
    padding-bottom: $base*25;
    background-color: #fafafa ;
    padding-top: $base*25;
    .blog-text{
        font-family: Lora,serif;
       text-align: center;
       h4{
           font-size:$base*10;
       }
       p{
           padding-top:$base*5;
           color:#857e7e ; 
           font-size: $font-20;
       }

    }
    .blog-item{
        padding-top: 50px;
        .card-img-top{ 
            height: 100%;
            width: 100%;
            &:hover{
            transform: scale(1.1);
            transition:0.1s ease-out;
        }
        }
        .card{
            background: none;
            border:none;
            .image{
                position: relative;
            }
            .image-text{
                position: absolute;
                width:100px;
                height: 30px;
                background-color: white;
                text-align: center;
                margin:10px;
            }

           
            .card-body{
                background-color:#fafafa ;
                padding-top: 70px;
                text-align: center;
                h4{
                    color:rgb(61, 60, 60);
                    &:hover{
                        cursor: pointer;
                    }
                }
                p{
                    color:$text_color;
                }
            }
        }
    }
}