@import "./about-experts";
@import "./addToCart";


footer {
    height: 550px;
    background-color: hsla(331, 44%, 88%, 0.87);

    #information {
        height: 450px;
        padding-top: 100px;
        border-bottom: 0.01px solid #817b7b;

        a {
            color: #8b8585e1;
            text-decoration: none;
            line-height: 40px;
            font-size: 15px;

            &:hover {
                color: red;
            }
        }
    }

    #addition {
        color: #a09696;
 text-align: center;
 padding-top: 30px;
 a{
    text-decoration: none;
    color: #4b4949;
    margin-right: 30px;
    &:hover{
        color:red;
    }
 }
        
    }

    .social-media {
        a {
            text-decoration: none;
            color: #4b4949;
            margin-right: 30px;
            &:hover{
                color:red;
            }
        }
    }

    #upBtn {
        height: 50px;
        width: 40px;
        color: white;
        background-color: tomato;
        margin-left: 230px;
        .btnItem{
            position: relative;
            animation-name: example;
            animation-duration: 4s;
        }
       
    }
}
